/* logo pantone:
#b4f4fa
#8daae5
#b2afe7
#394751 text color */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #394751;
}

/* ------------------------------------------ Navbar */                          
.nav-link,
.nav-link:hover {
  color: #394751;
}

.dropdown-item {
  color: #fff;
}
/* ------------------------------------------ Hero section */ 
.hero-heading {
  word-spacing: 4px;
}

.hero-image {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero-image-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/hero7.jpg);
  height: 50vh;
}
.hero-image-service {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/cloud2.jpg);
  height: 30vh;
}
.hero-image-service-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/hero3.jpg);
  height: 30vh;
}
/* ------------------------------------------ Service section */ 

.service-box-1 {
  background-color: #979a9a;
}

.service-box-2 {
  background-color: #a569bd;
}
.service-box-3 {
  background-color: #40e0d0;
}
.service-box-4 {
  background-color: #6495ed;
}
.service-text {
  background-color: #979a9a;
}
.service-text-2 {
  background-color: #a569bd;
}

.service-list {
  list-style-type: none;
}

.service-image {
  width: 50vh;
}

/* ------------------------------------------ Icons */ 
.service-icon {
  background-color: white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
}
.icon-service {
  display: inline-block;
  font-size: 170%;
  vertical-align: middle;
}
.icon-s {
  display: inline-block;
  vertical-align: middle;
  font-size: 120%
}

.icon-xs {
  display: inline-block;
  vertical-align: middle;
  font-size: 90%;
}
/* ------------------------------------------ Footer */ 
.email {
  letter-spacing: 2px;
}
.copyright {
  font-size: 70%;
}






