/* logo pantone:
#b4f4fa
#8daae5
#b2afe7
#394751 text color */

body {
  color: #394751;
}

.hero-heading {
  word-spacing: 4px;
}

.nav-link {
  color: #394751;
}

.service-box-1 {
  background-color: #ccd1d1;
}

.service-box-2 {
  background-color: #b2afe7;
}
.service-box-3 {
  background-color: #b4f4fa;
}
.service-box-4 {
  background-color: #8daae5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/hero6.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  background-attachment: fixed;
}

.section-service {
  background-color: #f4f4f4;
}

.service-icon {
  border: 1px solid black;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  text-align: center;
  padding: 5px;
}

.service-icon-2 {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
}
